<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" href="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Monitoring</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-img src="assets/img/peta.jpg"></ion-img>
  </ion-card>
  <ion-title text-center color="primary"> Informasi Lahan </ion-title>
  <ion-card>
        <table>
          <tr>
            <td><b><a color="#5663d3"></a>
                                     Luas Lahan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;Isi<br>
                                     Jenis Tanah&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:Isi<br>
                                     Jenis Tanaman&nbsp;:&nbsp;Isi</b></td>
          </tr>
        </table>
  </ion-card>
</ion-content>
