table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  th{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #5663d3
  }

  td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}
  
  .petani{
      font-size: 20pt
  }