<ion-header>
  <ion-toolbar color ="light">
    <ion-title  text-center color="primary" >
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar name="md"></ion-searchbar>
  <ion-grid>
    <ion-row>
        <ion-col >
          <div align="center">
            <ion-avatar>
                <img src="/assets/user.png" style="text-align: center">
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col >
          <div align="center">
            <ion-avatar>
                <img src="/assets/user.png" style="text-align: center">
            </ion-avatar>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
