<ion-header>
  <ion-toolbar color ="light">
    <ion-title  text-center color="primary">
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="width:285px;height:185px;" color="primary" >
        <ion-card-header text-center>
          <br><br>
          <div align="center">
              <ion-avatar>
                  <img src="/assets/user.png" style="width:60px;height:60px;text-align: center">
              </ion-avatar>
          </div>
          <br>
          <ion-card-title>Farm</ion-card-title>
        </ion-card-header>
    </ion-card>

    <table>
      <tr>
        <th>Username</th>
        <th>isi</th>
      </tr>
      <tr>
        <td>Email</td>
        <td>isi</td>
      </tr>
      <tr>
        <td>Password</td>
        <td>isi</td>
      </tr>
      <tr>
        <td>Farm Detail</td>
        <td>isi</td>
      </tr>
    </table>
</ion-content>