<ion-header>
  <ion-toolbar color ="light">
    <ion-title  text-center color="primary">
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header color="primary" >
        <ion-card-header text-center color="primary">
          <br><br>
          <div align="center">
              <ion-avatar>
                  <img src="/assets/user.png" style="width:60px;height:60px">
              </ion-avatar>
          </div>
          <br>
          <ion-card-title class="petani">Groffi&nbsp;<b>Farm</b></ion-card-title>
        </ion-card-header>
    </ion-card-header>

    <table>
      <tr>
        <th>Nama Pengguna</th>
        <td><b>:&nbsp;Isi</b></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><b>:&nbsp;Isi</b></td>
      </tr>
      <tr>
        <th>Kata Sandi</th>
        <td><b>:&nbsp;Isi</b></td>
      </tr>
    </table>
    <table>
      <tr>
        <td><b><a color="#5663d3">Detail Aset</a><br><br>
                                 Luas Lahan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;Isi<br>
                                 Jenis Tanaman&nbsp;:&nbsp;Isi</b></td>
      </tr>
    </table>
</ion-content>