<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" href="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title color="primary" >Sharing</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar placeholder="Penelusuran"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
        <ion-row>
            <ion-col size="width: 120px; height=80px">
              <ion-img style="width: 120px; height: 80px" src="/assets/img/alat.jpg"></ion-img>
            </ion-col>
            <ion-col>
              <h6>Alat Pertanian Terbaik</h6>
              <p>Alat pertanian yang baik adalah alat yang</p>
              <a href="#">Lihat Selengkapnya...</a>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card>
        <ion-row>
            <ion-col size="width: 120px; height=80px">
                <ion-img style="width: 120px; height: 80px" src="/assets/img/img_index_04.jpg"></ion-img>
            </ion-col>
            <ion-col>
              <h6>Traktor Murah tapi Mantab</h6>
              <p>Traktor digunakan untuk mempercepat</p>
              <a href="#">Lihat Selengkapnya...</a>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card>
        <ion-row>
            <ion-col size="width: 120px; height=80px">
                <ion-img style="width: 120px; height: 80px" src="/assets/img/panen.jpg"></ion-img>
            </ion-col>
            <ion-col>
              <h6>Untuk Panen yang Lebih Sukses</h6>
              <p>Percepatan kegiatan bertani akan mudah</p>
              <a href="#">Lihat Selengkapnya...</a>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card>
        <ion-row>
            <ion-col size="width: 120px; height=80px">
                <ion-img style="width: 120px; height: 80px" src="/assets/img/petani.jpg"></ion-img>
            </ion-col>
            <ion-col>
              <h6>Kesejahteraan Petani Harga Mati</h6>
              <p>Untuk meningkatkan kesejahteraan petani</p>
              <a href="#">Lihat Selengkapnya...</a>
            </ion-col>
        </ion-row>
    </ion-card>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
