<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" href="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Analisis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="analisis-page">
    <ion-card>
        <img src="../assets/img/analisis.png"/>
    </ion-card>

    <table>
      <tr>
        <th>
          <ion-card color="primary">
            <img width="80" height="100" src="../assets/img/tanah.png" >
          </ion-card>
        </th>
        <th>
          <ion-card color="primary">
            <img width="80" height="100" src="../assets/img/tanah.png" >
          </ion-card>
        </th>
      </tr>
      <tr>
          <th>
              <ion-card color="primary">
                  <br><br>
                  matan
                  <br><br>
              </ion-card>
            </th>
            <th>
                <ion-card color="primary">
                    <br><br>
                    huehehe
                    <br><br>
                </ion-card>
            </th>
      </tr>
    </table>
</ion-content>
