<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" href="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Analisis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="analisis-page">
    <ion-card>
        <img src="../assets/img/analisis.png"/>
    </ion-card>

    <table>
      <tr>
        <th (click)="OlahTanahPage()">
          <ion-card color="primary">
            <img width="80" height="100" src="../assets/img/tanah.png" >
            <div class="card-title">Olah Tanah</div>
          </ion-card>
        </th>
        <th (click)="PanenPage()">
          <ion-card color="primary">
            <img width="80" height="100" src="../assets/img/harvest.png" >
            <div class="card-title">Panen</div>
          </ion-card>
        </th>
      </tr>
      <tr>
        <th (click)="IrigasiPage()">
          <ion-card color="primary">
            <img width="80" height="100" src="../assets/img/irigasi.png" >
            <div class="card-title">Irigasi</div>
          </ion-card>
        </th>
        <th (click)="PenggilinganPage()">
          <ion-card color="primary">
            <img width="80" height="100" src="../assets/img/giling.png" >
            <div class="card-title">Penggilingan</div>
          </ion-card>
        </th>
      </tr>
    </table>
</ion-content>
